<!DOCTYPE html>
<html lang="en" class="theme-light">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{TITLE}}</title>
  <link rel="stylesheet" href="../static/stylesheets/bootstrap.css">
</head>

<body onload="toggleTheme()">
  <div class="top_nav">
    <h1 class="TOP_BAR_TITLE">PrintLion</h1>
    <a id="theme_selector" class="theme_selector" onclick="toggleTheme()">Switch to [THEME]</a>
  </div>
  <script src="./static/THEME.js"></script>
</body>

</html>